@model HoneymoonShop.Models.Dress

@{
    List<DressColor> dresscolor = ViewBag.dresscolor;
    List<DressFeature> dressfeature = ViewBag.dressfeature;
    var counter = 1;
}

<div class="container">
    <div class="form-horizontal">
        <form asp-controller="Dresses" asp-action="Edit">
            <div class="modal-header">
                <h4>Wijzigen Artikel: @Model.ID</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="id" value="@Model.ID" />
                    <div>
                        <label for="price">Prijs</label>
                        <input id="price" type="number" name="price" />
                    </div>
                    <div>
                        <label for="desc">Beschrijving</label>
                        <input id="desc" type="text" name="desc" />
                    </div>
                    <div>
                        <label for="cat">Categorie</label>
                        <select id="cat" name="cat" asp-items="ViewBag.cat">
                        </select>
                    </div>
                    <div>
                        <label for="style">Stijl</label>
                        <select id="style" name="style" asp-items="ViewBag.style">
                        </select>
                    </div>
                    <div>
                        <label for="neck">Neklijn</label>
                        <select id="neck" name="neck" asp-items="ViewBag.neck">
                        </select>
                    </div>
                    <div>
                        <label for="sil">Silhouette</label>
                        <select id="sil" name="sil" asp-items="ViewBag.sil">
                        </select>
                    </div>
                    <div>
                        <label for="manu">Merk</label>
                        <select id="manu" name="manu" asp-items="ViewBag.manu">
                        </select>
                    </div>
                    <div>
                        <label>Kleuren</label><br />
                        @foreach (var c in ViewBag.color)
                        {
                                <input type="checkbox" name="color" value="@c.ID" />@c.Name<br />
                        }
                    </div>
                    <div>
                        <label>Kenmerken</label><br />
                        @foreach (var f in ViewBag.feature)
                        {
                                <input type="checkbox" name="feature" value="@f.ID" />@f.Name<br />
                        }
                    </div>
                    <div>
                        <label>Foto's</label><br />
                        <div style="display:flex; flex-direction:row; width:inherit">
                            @foreach (var i in ViewBag.image)
                            {
                                var path = "/images/dress/" + i;
                                <div style="flex-grow:1; flex-basis:33%">
                                    <img src="@path" class="img-responsive" />
                                    <select name="image">
                                        @switch (counter)
                                        {
                                            case 1:
                                                <option value="1" selected>Primaire foto</option>
                                                <option value="2">Tweede foto</option>
                                                                        <option value="3">Derde foto</option>
                                                break;

                                            case 2:
                                                <option value="1">Primaire foto</option>
                                                <option value="2" selected>Tweede foto</option>
                                                                        <option value="3">Derde foto</option>
                                                break;

                                            case 3:
                                                <option value="1">Primaire foto</option>
                                                <option value="2">Tweede foto</option>
                                                                        <option value="3" selected>Derde foto</option>
                                                break;
                                        }
                                    </select>
                                </div>
                                counter++;
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        </form>
    </div>
</div>




@*<div class="container">
    <form asp-action="Create">
        <div class="form-horizontal">
            <h4>Dress</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryID" class="col-md-2 control-label">Categorie</label>
                <div class="col-md-10">
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label">Beschrijving</label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ManuID" class="col-md-2 control-label">Merk</label>
                <div class="col-md-10">
                    <select asp-for="ManuID" class="form-control" asp-items="ViewBag.ManuID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NecklineID" class="col-md-2 control-label">Neklijn</label>
                <div class="col-md-10">
                    <select asp-for="NecklineID" class="form-control" asp-items="ViewBag.NecklineID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="col-md-2 control-label">Prijs</label>
                <div class="col-md-10">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SilhouetteID" class="col-md-2 control-label">Silhouette</label>
                <div class="col-md-10">
                    <select asp-for="SilhouetteID" class="form-control" asp-items="ViewBag.SilhouetteID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StyleID" class="col-md-2 control-label">Stijl</label>
                <div class="col-md-10">
                    <select asp-for="StyleID" class="form-control" asp-items="ViewBag.StyleID"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="Color" class="col-md-2 control-label">Kleuren</label>
                <div class="col-md-10" id="Color">
                    @foreach (var c in ViewBag.ColorID)
                    {
                        <input type="checkbox" name="ColorID" value="@c.ID" />@c.Name <br />
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="Feature" class="col-md-2 control-label">Kenmerken</label>
                <div class="col-md-10" id="Feature">
                    @foreach (var f in ViewBag.FeatureID)
                    {
                        <input type="checkbox" name="FeatureID" value="@f.ID" />@f.Name <br />
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button data-toggle="modal" data-target="#addImg" class="btn btn-default" value="Upload foto's'">Upload foto's</button>
                </div> 
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}