@model HoneymoonShop.Models.Dress

@{
    ViewData["Title"] = "Details - " + Html.DisplayFor(model => model.ID);
    ViewData["Background"] = "white";
    ViewData["HeaderHeight"] = "6em";
}

@section Imports {
    <script src="~/js/script.js"></script>
}

@section HeaderOverlay {}

<div class="container" style="background:white">
    <div class="row" style="padding-bottom:4em; padding-top:3em">
        <div class="col-md-3 col-md-offset-1">
            <a asp-action="Overview"><span>&#8592;</span>Terug naar overzicht</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 col-md-offset-1" id="thumbnail">
            @foreach (string file in ViewBag.Images)
            {
                <img class="img-responsive" style="height:20em; width:20em; margin-bottom:3em" src="~/images/dress/@file" />
            }
        </div>
        <div class="col-md-5" id="main-image">
            <img class="img-responsive" src="~/images/dress/@ViewBag.Images[0]" style="max-height:65em" />
        </div>
        <div class="col-md-2">
            <h2 style="margin-bottom:0">@Html.DisplayFor(model => model.Manu.Name)</h2>
            <p style="padding-bottom:3em" class="text-muted">artikel nr. @Html.DisplayFor(model => model.ID)</p>
            <p style="padding-bottom:3em">@Html.DisplayFor(model => model.Description)</p>
            <p>Merk: <span style="color:#f690a5">@Html.DisplayFor(model => model.Manu.Name)</span></p>
            <p>Kenmerken: <span style="color:#f690a5">
                @foreach (string feature in ViewBag.Features)
                {
                    @feature <span> </span>
                }
                </span>
            </p>
            <p>Prijsindicatie: &euro;@Html.DisplayFor(model => model.Price)</p>
            <p style="padding-bottom:3em">Beschikbare kleuren:
                @foreach (string color in ViewBag.Colors)
                {
                    @color <span> </span>
                }
            </p>
            <p>Kom deze jurk passen!</p>
            <a class="btn btn-default primary-button index-button" style="color:white; font-size:1.02em;" asp-action="Create" asp-controller="Appointments"><b>PASAFSPRAAK MAKEN</b></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="width: 100%; height: 15px; border-bottom: 2px solid black; text-align: center; margin-top:4em">
                <span style="font-size: 20px; background-color: white; padding: 0 20px">
                    <b>BIJPASSENDE SIERADEN</b>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:2em">
        <div class="overview" >
            <div>
                <a href="#" class="overview-item">
                    <div class="overview-item" style="height:auto">
                        <img src="~/images/web/sieraad1.png" />
                        <h4>Abrazi</h4>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="overview-item">
                    <div class="overview-item" style="height:auto">
                        <img src="~/images/web/sieraad2.png" />
                        <h4>Abrazi</h4>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="overview-item">
                    <div class="overview-item" style="height:auto">
                        <img src="~/images/web/sieraad1.png" />
                        <h4>Abrazi</h4>
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="overview-item">
                    <div class="overview-item" style="height:auto">
                        <img src="~/images/web/sieraad2.png" />
                        <h4>Abrazi</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="text-align:center">
            <a class="btn index-button" style="color:white; background:#f47590; text-align:center" asp-action="Index" asp-controller="Dresses">BEZOEK DE WEBSHOP</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="width: 100%; height: 15px; border-bottom: 2px solid black; text-align: center; margin-top:4em">
                <span style="font-size: 20px; background-color: white; padding: 0 20px">
                    <b>OF ZIJN DEZE JURKEN MEER IETS VOOR JOU?</b>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:2em">
        <div class="overview">
            @foreach (Dress d in ViewBag.RecDress)
            {
                <div>
                    <a asp-action="Details/@d.ID" class="overview-item">
                        <div class="grow overview-item" style="height:auto">
                            <img src="~/images/dress/@ViewBag.RecImages[d.ID]" />
                            <h4>@d.Manu.Name</h4>
                            <div>
                                <p>Artikel nr. @d.ID</p>
                                <label></label>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>