@{
    Layout = null;
}
<div class="col-lg-2 col-md-2 col-md-offset-1 col-lg-offset-1">
    <!--Cat-->
    <h4><b>CATEGORIEEN:</b></h4>
    <div style="margin-bottom:2em">
        @{
            foreach (Category c in ViewBag.CategoryID)
            {
                <a onclick="catChange(@c.ID, '@c.Name')"><div style="background:#fce8e7; margin-bottom:0.3em; padding:0.4em; padding-left:5%"><b>@c.Name</b></div></a>
            }
        }
        <a onclick="sortNew()"><div style="background:#fce8e7; margin-bottom:0.3em; padding:0.4em; padding-left:5%"><b>Nieuwe Collectie</b></div></a>
        <a asp-controller="Dresses" asp-action="Overview"><div style="background:#fce8e7; margin-bottom:0.3em; padding:0.4em; padding-left:5%"><b>Alle jurken bekijken</b></div></a>
    </div>

    <h5><b>Filter op:</b></h5>
    <!--Manu-->
    <a href="#manu" data-toggle="collapse" style="text-decoration:none" onclick="flipArrow('manua')">
        <div class="element" onclick="changeColor(this)" style="background:#f6f6f6;">
            <div style="display:flex">
                <h4 style="flex-basis:90%; padding-left:5%">Merk</h4>
                <p class="arrow" id="manua" style="transform:rotate(0deg); text-align:center">&#9650;</p>
            </div>
        </div>
    </a>
    <div id="manu" class="collapse in" style="background:#fcfcfc; margin:0.5em">
        @foreach (Manu m in ViewBag.ManuID)
            {
                var id = "cManu" + m.ID;
                try
                {
                    if (ViewBag.Manucheck[m.ID] == 1)
                    { <input id="@id" type="checkbox" name="manu" value="@m.ID" class="css-checkbox" style="" checked />}
                }
                catch
                {
                <input id="@id" type="checkbox" name="manu" value="@m.ID" class="css-checkbox" style="" />
            }
            <label for="@id" class="css-label" style="font-weight:lighter; margin-bottom:0.8em">@m.Name</label>
                <br />
        }
    </div>

    <!--Style-->
    <a href="#style" data-toggle="collapse" style="text-decoration:none" onclick="flipArrow('stylea')">
        <div class="element" onclick="changeColor(this)" style="background:#f6f6f6;">
            <div style="display:flex">
                <h4 style="flex-basis:90%; padding-left:5%">Stijl</h4>
                <p class="arrow" id="stylea" style="transform:rotate(0deg); text-align:center">&#9650;</p>
            </div>
        </div>
    </a>
    <div id="style" class="collapse in" style="background:#fcfcfc; margin:0.5em">
        @foreach (Style s in ViewBag.StyleID)
            {
                var id = "cStyle" + s.ID;
                try
                {
                    if (ViewBag.Stylecheck[s.ID] == 1)
                    {
                    <input id="@id" type="checkbox" name="style" value="@s.ID" class="css-checkbox" checked />

                }

            }
            catch
            {
                <input id="@id" type="checkbox" name="style" value="@s.ID" class="css-checkbox" />

            }
            <label for="@id" style="font-weight:lighter; margin-bottom:0.8em" class="css-label">@s.Name</label>
                <br />
        }
    </div>

    <!--Price-->
    <input type="hidden" name="pricemin" id="pricemin" value="@ViewBag.MinPrice" />
    <input type="hidden" name="pricemax" id="pricemax" value="@ViewBag.MaxPrice" />
    <a href="#price" data-toggle="collapse" style="text-decoration:none" onclick="flipArrow('pricea')">
        <div class="element" onclick="changeColor(this)" style="background:#f6f6f6;">
            <div style="display:flex">
                <h4 style="flex-basis:90%; padding-left:5%">Prijs</h4>
                <p class="arrow" id="pricea" style="transform:rotate(0deg); text-align:center; flex-basis:10%">&#9650;</p>
            </div>
        </div>
    </a>
    <div id="price" class="collapse in" style="background:#fcfcfc">
        <input type="text" id="amount" readonly style="border:0; font-weight:bold; background:none">
        <div id="slider-range" onclick="searchPrice()"></div>
    </div>

    <h5 style="margin-top:2em"><b>Filters verfijnen:</b></h5>
    <!--Neckline-->
    <a href="#neck" data-toggle="collapse" style="text-decoration:none" onclick="flipArrow('necka')">
        <div class="element" onclick="changeColor(this)" style="background:white;">
            <div style="display:flex">
                <h4 style="flex-basis:90%; padding-left:5%">Neklijn</h4>
                <p class="arrow" id="necka" style="transform:rotate(0deg); text-align:center">&#9660;</p>
            </div>
        </div>
    </a>
    <div id="neck" class="collapse" style="background:#fcfcfc; margin:0.5em">
        @foreach (Neckline n in ViewBag.NecklineID)
            {
                var id = "cNeck" + n.ID;
                try
                {
                    if (ViewBag.Neckcheck[n.ID] == 1)
                    {
                    <input id="@id" type="checkbox" name="neckline" value="@n.ID" class="css-checkbox" checked />
                }
            }
            catch
            {
                <input id="@id" type="checkbox" name="neckline" value="@n.ID" class="css-checkbox" />
            }
            <label for="@id" class="css-label" style="font-weight:lighter; margin-bottom:0.8em">@n.Name</label>
                <br />
        }
    </div>

    <!--Silhouette-->
    <a href="#sil" data-toggle="collapse" style="text-decoration:none" onclick="flipArrow('sila')">
        <div class="element" onclick="changeColor(this)" style="background:white;">
            <div style="display:flex">
                <h4 style="flex-basis:90%; padding-left:5%">Silhouette</h4>
                <p class="arrow" id="sila" style="transform:rotate(0deg); text-align:center">&#9660;</p>
            </div>
        </div>
    </a>
    <div id="sil" class="collapse" style="background:#fcfcfc; margin:0.5em">
        @foreach (Silhouette s in ViewBag.SilhouetteID)
            {
                var id = "cSil" + s.ID;
                try
                {
                    if (ViewBag.Silcheck[s.ID] == 1)
                    {
                    <input id="@id" type="checkbox" name="silhouette" value="@s.ID" class="css-checkbox" checked />
                }
            }
            catch
            {
                <input id="@id" type="checkbox" name="silhouette" value="@s.ID" class="css-checkbox" />
            }
            <label for="@id" style="font-weight:lighter; margin-bottom:0.8em" class="css-label">@s.Name</label>
                <br />
        }
    </div>

    <!--Color-->
    <a href="#color" data-toggle="collapse" style="text-decoration:none" onclick="flipArrow('colora')">
        <div class="element" onclick="changeColor(this)" style="background:white;">
            <div style="display:flex">
                <h4 style="flex-basis:90%; padding-left:5%">Kleur</h4>
                <p class="arrow" id="colora" style="transform:rotate(0deg); text-align:center">&#9660;</p>
            </div>
        </div>
    </a>
    <div id="color" class="collapse" style="background:#fcfcfc; margin:0.5em">
        @foreach (Color c in ViewBag.ColorID)
            {
                var id = "cColor" + c.ID;
                try
                {
                    if (ViewBag.Colorcheck[c.ID] == 1)
                    {
                    <input id="@id" type="checkbox" name="color" value="@c.ID" class="css-checkbox" checked />
                }
            }
            catch
            {
                <input id="@id" type="checkbox" name="color" value="@c.ID" class="css-checkbox" />
            }
            <label for="@id" class="css-label" style="font-weight:lighter; margin-bottom:0.8em">@c.Name</label>
                <br />
        }
    </div>
</div>