@{
    ViewData["Title"] = "Dress Overview";
    ViewData["Background"] = "white";
    ViewData["HeaderHeight"] = "40em";
}

@section Imports{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 15000,
                values: [0, 15000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $("#pricemin").val(ui.values[0]);
                    $("#pricemax").val(ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
              " - $" + $("#slider-range").slider("values", 1));
        });

        $(document).ready(function () {
            var manuq = "";
            var styleq = "";
            var neckq = "";
            var silq = "";
            var colorq = "";

            $("#manu input").click(function () {
                var children = $("#manu input");
                manuq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        manuq += "&manu=" + children.get(i).value;
                    }
                }
                var route = "OverviewFiltered?manu=all&style=all&pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + "&neckline=all&silhouette=all&color=all" + manuq + styleq + neckq + silq + colorq;
                $("#overview").load(route);
                doPush(route);
            });
            $("#style input").click(function () {
                var children = $("#style input");
                styleq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        styleq += "&style=" + children.get(i).value;
                    }
                }
                var route = "OverviewFiltered?manu=all&style=all&pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + "&neckline=all&silhouette=all&color=all" + manuq + styleq + neckq + silq + colorq;
                $("#overview").load(route);
                doPush(route);
            });
            $("#price input").change(function () {
                $("#submit").trigger("click");
            });
            $("#neck input").click(function () {
                var children = $("#neck input");
                neckq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        neckq += "&neckline=" + children.get(i).value;
                    }
                }
                var route = "OverviewFiltered?manu=all&style=all&pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + "&neckline=all&silhouette=all&color=all" + manuq + styleq + neckq + silq + colorq;
                $("#overview").load(route);
                doPush(route);
            });
            $("#sil input").click(function () {
                var children = $("#sil input");
                silq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        silq += "&silhouette=" + children.get(i).value;
                    }
                }
                var route = "OverviewFiltered?manu=all&style=all&pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + "&neckline=all&silhouette=all&color=all" + manuq + styleq + neckq + silq + colorq;
                $("#overview").load(route);
                doPush(route);
            });
            $("#color input").click(function () {
                var children = $("#color input");
                colorq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        colorq += "&color=" + children.get(i).value;
                    }
                }
                var route = "OverviewFiltered?manu=all&style=all&pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + "&neckline=all&silhouette=all&color=all" + manuq + styleq + neckq + silq + colorq;
                $("#overview").load(route);
                doPush(route);
            });
            function doPush(route) {
                var state = {},
                    tilte = "Dress Overview",
                    path = route;
                history.pushState(state, tilte, path);
            }
        });
    </script>
}

@section HeaderOverlay{}

<div class="container" style="background:white">
    <div class="row">
        <div class="col-md-2">
            <form>
                <!--Manu-->
                <div style="background:#f6f6f6"><a href="#manu" data-toggle="collapse"><h4><b>Brand</b></h4></a></div>
                <div id="manu" class="collapse in" style="background:#fcfcfc">
                    <input type="hidden" name="manu" value="all" />
                    @foreach (Manu m in ViewBag.ManuID)
                    {
                        var id = "cManu" + m.ID;
                    <input id="@id" type="checkbox" name="manu" value="@m.ID" style="display:none" />
                    <label for="@id" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@m.Name</p>
                    <br />
                    }
                </div>

                <!--Style-->
                <div style="background:#f6f6f6"><a href="#style" data-toggle="collapse"><h4><b>Style</b></h4></a></div>
                <div id="style" class="collapse in" style="background:#fcfcfc">
                    <input type="hidden" name="style" value="all" />
                    @foreach (Style s in ViewBag.StyleID)
                    {
                        var id = "cStyle" + s.ID;
                    <input id="@id" type="checkbox" name="style" value="@s.ID" style="display:none" />
                    <label for="@id" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@s.Name</p>
                    <br />
                    }
                </div>

                <!--Price-->
                <input type="hidden" name="pricemin" id="pricemin" value="0" />
                <input type="hidden" name="pricemax" id="pricemax" value="15000" />
                <div style="background:#f6f6f6"><a href="#price" data-toggle="collapse"><h4><b>Price</b></h4></a></div>
                <div id="price" class="collapse in" style="background:#fcfcfc">
                    <input type="text" id="amount" readonly style="border:0; font-weight:bold; background:none">
                    <div id="slider-range"></div>
                </div>

                <!--Neckline-->
                <div style="background:#f6f6f6"><a href="#neck" data-toggle="collapse"><h4><b>Neckline</b></h4></a></div>
                <div id="neck" class="collapse" style="background:#fcfcfc">
                    <input type="hidden" name="neckline" value="all" />
                    @foreach (Neckline n in ViewBag.NecklineID)
                    {
                        var id = "cNeck" + n.ID;
                    <input id="@id" type="checkbox" name="neckline" value="@n.ID" style="display:none" />
                    <label for="@id" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@n.Name</p>
                    <br />
                    }
                </div>

                <!--Silhouette-->
                <div style="background:#f6f6f6"><a href="#sil" data-toggle="collapse"><h4><b>Silhouette</b></h4></a></div>
                <div id="sil" class="collapse" style="background:#fcfcfc">
                    <input type="hidden" name="silhouette" value="all" />
                    @foreach (Silhouette s in ViewBag.SilhouetteID)
                    {
                        var id = "cSil" + s.ID;
                    <input id="@id" type="checkbox" name="silhouette" value="@s.ID" style="display:none" />
                    <label for="@id" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@s.Name</p>
                    <br />
                    }
                </div>

                <!--Color-->
                <div style="background:#f6f6f6"><a href="#color" data-toggle="collapse"><h4><b>Color</b></h4></a></div>
                <div id="color" class="collapse" style="background:#fcfcfc">
                    <input type="hidden" name="color" value="all" />
                    @foreach (Color c in ViewBag.ColorID)
                    {
                        var id = "cColor" + c.ID;
                    <input id="@id" type="checkbox" name="color" value="@c.ID" style="display:none" />
                    <label for="@id" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@c.Name</p>
                    <br />
                    }
                </div>
                <div>
                    <button id="submit" style="width:100%; display:none" type="button" value="Search" />
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div id="overview" class="overview" style="width:inherit; height:auto">
                @*@Html.Partial("OverviewPartial");*@
                @*@if (ViewBag.Dress.Count == 0)
                {
                    <p>There were no results for the selected filters</p>

                }
                else
                {
                    foreach (Dress d in ViewBag.Dress)
                    {
                        <div>
                            <a asp-action="Details/@d.ID" class="overview-item">
                                <div class="grow overview-item" style="height:auto">
                                    <img src="~/images/dress/@ViewBag.Images[d.ID]" />
                                    <h4>@d.Manu.Name</h4>
                                    <div>
                                        <p>Artikel nr. @d.ID</p>
                                        <label></label>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*</body>
    </html>*@
