@model IEnumerable<HoneymoonShop.Models.Dress>

@{
    ViewData["Title"] = "Dressfinder";
    ViewData["Background"] = "url(/images/web/top_dresses.jpg)";
    ViewData["HeaderHeight"] = "40em";
}

@section Imports {
    <link rel="stylesheet" href="~/css/overview.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: @ViewBag.DressMax,
                values: [0, @ViewBag.DressMax],
                slide: function (event, ui) {
                    $("#amount").val('\u20AC' + ui.values[0] + " - \u20AC" + ui.values[1]);
                    $("#pricemin").val(ui.values[0]);
                    $("#pricemax").val(ui.values[1]);
                }
            });
            $("#amount").val('\u20AC' + $("#slider-range").slider("values", 0) +
              " - " + '\u20AC' + $("#slider-range").slider("values", 1));
        });

        $("#container").ready(function () {
            $("#overview").load(window.location + "&request=1");
        });

        var amntq = "&amnt=24";
        var sortq = "&sort=hl";
        var manuq = "&manu=all";
        var styleq = "&style=all";
        var neckq = "&neckline=all";
        var silq = "&silhouette=all";
        var colorq = "&color=all";
        var catq = "&cat=all";
        var page = 1;

        $(document).ready(function () {
            $("#pricemax").val(@ViewBag.DressMax);
            $("#manu input").click(function () {
                var children = $("#manu input");
                manuq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        manuq += "&manu=" + children.get(i).value;
                    }
                } if (manuq == "") manuq = "&manu=all";
                var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
                $("#overview").load(route + "&request=1");
                doPush(route);
            });
            $("#style input").click(function () {
                var children = $("#style input");
                styleq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        styleq += "&style=" + children.get(i).value;
                    }
                } if (styleq == "") styleq = "&style=all";
                var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
                $("#overview").load(route + "&request=1");
                doPush(route);
            });
            $("#neck input").click(function () {
                var children = $("#neck input");
                neckq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        neckq += "&neckline=" + children.get(i).value;
                    }
                } if (neckq == "") neckq = "&neckline=all";
                var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
                $("#overview").load(route + "&request=1");
                doPush(route);
            });
            $("#sil input").click(function () {
                var children = $("#sil input");
                silq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        silq += "&silhouette=" + children.get(i).value;
                    }
                } if (silq == "") silq = "&silhouette=all";
                var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
                $("#overview").load(route + "&request=1");
                doPush(route);
            });
            $("#color input").click(function () {
                var children = $("#color input");
                colorq = "";
                for (var i = 0; i < children.length; i++) {
                    if (children.get(i).checked) {
                        colorq += "&color=" + children.get(i).value;
                    }
                } if (colorq == "") colorq = "&color=all";
                var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
                $("#overview").load(route + "&request=1");
                doPush(route);
            });
        });

        function searchPrice() {
            var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
            doPush(route);
            window.location.replace(route);
        }

        function catChange(catid, catname) {
            catq = "&cat=" + catid;
            var route = "OverviewFiltered?pricemin=" + $("#pricemin").val() + "&pricemax=" + $("#pricemax").val() + manuq + styleq + neckq + silq + colorq + sortq + amntq + catq + "&page=" + page;
            document.getElementById("breadcrumb").innerHTML =
                "<li><a asp-action=\"Index\" asp-controller=\"Home\" style=\"color:#f47590\">Home</a></li>" +
                "<li><a asp-action=\"Index\" asp-controller=\"Dresses\" style=\"color:#f47590\">Bruid</a></li>" +
                "<li><a asp-action=\"Overview\" asp-controller=\"Dresses\" style=\"color:#f47590\">Dressfinder</a></li>" +
                "<li class=\"active\">" + catname + "</li>";
            doPush(route);
        }

        function doPush(route) {
            var state = {},
                title = "Dress Overview",
                path = route;
            history.pushState(state, title, path);
            location.reload();
        }
    </script>
    <script>
    function flipArrow(id) {
        var e = document.getElementById(id);
        var trans = e.style.transform;
        if (trans == "rotate(0deg)") {
            e.style.transform = "rotate(180deg)";
        }
        else {
            e.style.transform = "rotate(0deg)";
        }
    }

    function changeColor(elmnt) {
        var bcol = elmnt.style.background;
        if (bcol == "rgb(246, 246, 246)") {
            elmnt.style.background = "white";
        }
        else {
            elmnt.style.background = "rgb(246, 246, 246)";
        }
    }
    </script>
}

@section HeaderOverlay {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="text-align:center; color:white; margin-top:12%">
                <p style="font-size:2em; margin-bottom:0">Opzoek naar de perfecte jurk</p>
                <p style="font-size:3em;"><b>VAN BEGIN TOT EIND KUNNEN Wij JE HELPEN</b></p>
            </div>
        </div>
    </div>
}

<div class="container" style="background:white">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home" style="color:#f47590">Home</a></li>
                <li><a asp-action="Index" asp-controller="Dresses" style="color:#f47590">Bruid</a></li>
                <li class="active">Dressfinder</li>
            </ol>
        </div>
    </div>
    <div class="row" style="padding-top:3em">
        @Html.Partial("Filter")
        <div class="col-md-8 col-lg-8">
            <div id="overview" class="overview" style="">
                <div>
                    <a href="#" class="overview-item" style="flex-basis:100%">
                        <div style="height:auto">
                            <img src="~/images/web/allaboutthedress.png" class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div style="margin-right:1.66em; margin-top:1em">
                    <a href="#" class="overview-item">
                        <div style="height:auto">
                            <img src="~/images/web/wintercollection.png" class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div style="margin-right:1.66em; margin-top:1em">
                    <a href="#" class="overview-item">
                        <div style="height:auto">
                            <img src="~/images/web/brandmaggie.png" class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div style="margin-top:1em">
                    <a href="#" class="overview-item">
                        <div style="height:auto">
                            <img src="~/images/web/webshop.png" class="img-responsive" />
                        </div>
                    </a>
                </div>
                <div style="width: 100%; height: 20px; border-bottom: 2px solid black; text-align: center; margin-top:4em">
                    <span style="font-size: 25px; background-color: white; padding: 0 10px;">
                        <b>Nieuwe Collectie</b>
                    </span>
                </div>
                @foreach (Dress d in Model)
                {
                    <div style="margin-top:3em">
                        <a asp-action="Details/@d.ID" class="overview-item">
                            <div class="overview-item" style="height:auto">
                                <img src="~/images/dress/@ViewBag.Images[d.ID]" />
                                <h4>@d.Manu.Name</h4>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}