@{
    ViewData["Title"] = "Dress Overview";
    ViewData["Background"] = "white";
    ViewData["HeaderHeight"] = "40em";
}

@section Imports{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 15000,
                values: [0, 15000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $("#pricemin").val(ui.values[0]);
                    $("#pricemax").val(ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
              " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
}

@section HeaderOverlay{}

<div class="container" style="background:white">
    <div class="row">
        <div class="col-md-2">
            <form method="get" asp-action="OverviewFiltered">
                <!--Manu-->
                <div style="background:#f6f6f6"><a href="#manu" data-toggle="collapse"><h4><b>Brand</b></h4></a></div>
                <div id="manu" class="collapse in" style="background:#fcfcfc">
                    <input type="hidden" name="manu" value="all" />
                    @foreach (Manu m in ViewBag.ManuID)
                    {
                    <input id="checkbox @m.ID" type="checkbox" name="manu" value="@m.ID" style="display:none" />
                    <label for="checkbox @m.ID" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@m.Name</p>
                    <br />
                    }
                </div>

                <!--Style-->
                <div style="background:#f6f6f6"><a href="#style" data-toggle="collapse"><h4><b>Style</b></h4></a></div>
                <div id="style" class="collapse in" style="background:#fcfcfc">
                    <input type="hidden" name="style" value="all" />
                    @foreach (Style s in ViewBag.StyleID)
                    {
                    <input id="checkbox @s.ID" type="checkbox" name="manu" value="@s.ID" style="display:none" />
                    <label for="checkbox @s.ID" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@s.Name</p>
                    <br />
                    }
                </div>

                <!--Price-->
                <input type="hidden" name="pricemin" id="pricemin" value="0" />
                <input type="hidden" name="pricemax" id="pricemax" value="15000" />
                <div style="background:#f6f6f6"><a href="#price" data-toggle="collapse"><h4><b>Price</b></h4></a></div>
                <div id="price" class="collapse in" style="background:#fcfcfc">
                    <input type="text" id="amount" readonly style="border:0; font-weight:bold; background:none">
                    <div id="slider-range"></div>
                </div>

                <!--Neckline-->
                <div style="background:#f6f6f6"><a href="#neck" data-toggle="collapse"><h4><b>Neckline</b></h4></a></div>
                <div id="neck" class="collapse" style="background:#fcfcfc">
                    <input type="hidden" name="neckline" value="all" />
                    @foreach (Neckline n in ViewBag.NecklineID)
                    {
                    <input id="checkbox @n.ID" type="checkbox" name="manu" value="@n.ID" style="display:none" />
                    <label for="checkbox @n.ID" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@n.Name</p>
                    <br />
                    }
                </div>

                <!--Silhouette-->
                <div style="background:#f6f6f6"><a href="#sil" data-toggle="collapse"><h4><b>Silhouette</b></h4></a></div>
                <div id="sil" class="collapse" style="background:#fcfcfc">
                    <input type="hidden" name="silhouette" value="all" />
                    @foreach (Silhouette s in ViewBag.SilhouetteID)
                    {
                    <input id="checkbox @s.ID" type="checkbox" name="manu" value="@s.ID" style="display:none" />
                    <label for="checkbox @s.ID" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@s.Name</p>
                    <br />
                    }
                </div>

                <!--Color-->
                <div style="background:#f6f6f6"><a href="#color" data-toggle="collapse"><h4><b>Color</b></h4></a></div>
                <div id="color" class="collapse" style="background:#fcfcfc">
                    <input type="hidden" name="color" value="all" />
                    @foreach (Color c in ViewBag.ColorID)
                    {
                    <input id="checkbox @c.ID" type="checkbox" name="manu" value="@c.ID" style="display:none" />
                    <label for="checkbox @c.ID" style="margin-bottom: -.3em;display:inline-block"></label>
                    <p style="display:inline-block">@c.Name</p>
                    <br />
                    }
                </div>
                <div>
                    <input style="width:100%" type="submit" value="Search" />
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div class="overview">
                @if (ViewBag.Dress.Count == 0)
                {
                    <p>There were no results for the selected filters</p>

                }
                else
                {
                    foreach (Dress d in ViewBag.Dress)
                    {
                        <div>
                            <a asp-action="Details/@d.ID" class="overview-item">
                                <div class="grow overview-item" style="height:auto">
                                    <img src="~/images/dress/@ViewBag.Images[d.ID]" />
                                    <h4>@d.Manu.Name</h4>
                                    <div>
                                        <p>Artikel nr. @d.ID</p>
                                        <label></label>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*</body>
    </html>*@
